
header {
    background-color: #e6dfdf;
    color: #fff;
    
}


.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgba(245, 222, 179, 0.378);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.header-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-info-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.header-info-container div {
    margin-right: 10px;
    font-size: 16px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

.download-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #45a049;
}
h1 {
text-align: center;
color: #fff; /* Change text color to white */
background-color: #333; /* Change background color */
padding: 10px 0; /* Add padding to improve visual appearance */
margin-bottom: 10px; /* Adjust margin-bottom as needed */
}

.header-info-container {
padding: 10px; /* Add padding around the container */
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: #b58df68e;
}

.header-info-container div {
margin-bottom: 10px; /* Add margin between each div */
margin-right: 10px; /* Add margin to the right of each div */
padding: 5px; /* Add padding inside each div */
font-size: 16px;
color: #010101;
flex: 0 1 200px; /* Set flex property to control width */
}

.header-info-container input {
width: 100%; /* Make input fields fill the available width */
padding: 5px;
font-size: 16px;

}


